{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content_title %}{{ entry.title }}{% endblock %}

{% block sidebar %}
    <div class = "well nav nav-list">
        <h4>Tags</h4>
        {% for tag in entry.tags %}
        <li><a href="{{ url_for('entries.tag_detail', slug=tag.slug) }}">{{ tag.name }}</a></li>
        {% endfor %}
        {% if g.user == entry.author %}
        <h4>Actions</h4>
        <li><a href="{{ url_for('entries.create')  }}">Create</a></li>
        <li><a href="{{ url_for('entries.edit', slug=entry.slug) }}">Edit</a></li>
        <li><a href="{{ url_for('entries.delete', slug=entry.slug) }}">Delete</a></li>
        {% endif %}

    </div>
    <p>Published {{ entry.created_timestamp.strftime('%m/%d/%Y') }}</p>

{% endblock %}

{% block content %}
    {{  entry.body  }}
{% endblock %}